body {
    margin: 0;
    font-family:'Source Code Pro', monospace;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: #4B7171;
    text-align: center;
}

.aside ul {
    list-style-type: square;
    color: #4B7171;
    padding: 0 10%;
}

.grid-container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0fr 0.2fr 0.5fr 0.2fr 0.25fr; 
    grid-template-areas: 
    "sidebar header"
    "sidebar content1"
    "sidebar longbox"
    "sidebar content2"
    "sidebar footer"
}

header {
    background: #f4e9de;
    grid-area: header;
    text-align: center;
}

.navigation {
    display:flex;
    justify-content: right;
}

.aside{
    background-color: #faf4ec;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.button {
    border: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1); /*rounds my buttons borders*/
}

.button1 { 
    background-color: #4B7171;
}

.button2 {
    background-color: #6F6A87;
}

.content1 {
    display: flex;
    flex-direction: row;
    background-color: #f4e9de;
    grid-area: content1;
    justify-content: space-between;
    padding: 10px;
}

.textholder {
    background-color: #f4e9de;
}

.longbox {
    background: #f9f4eb;
    grid-area: longbox;
    display: flex;
    margin: 10px;
    height: 100px;
    border: #7fabed 3px solid;
    width: 94%;
}

.content2 {
    display: flex;
    background-color: #f4e9de;
    grid-area: content2;
    justify-content: end;
    padding: 10px;
}

.button3 {
    background-color: #5395a0;
    margin: 5px;
}

.button4 {
    background-color: #D9827C;
}

footer {
    background-color: #f4e9de;
    grid-area: footer;
    text-align: center;
}

img {
    width: 50px;
    border-radius: 50px;
    justify-content: center;
}

@media only screen and (max-width:550px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr;
    }
}